$break1: "(min-width: 800px)";
$break2: "(max-width: 799px)";
*{
    box-sizing: border-box;
    outline: none;
}
body{
    direction: rtl;
    margin: 0;
    padding: 0;  
}
header{
    display: flex;
    align-items: center;

    width: 100%;
    padding: 10px;
    background-color: #aaa;
    img{
        width: 200px;
        height: 200px;
    }
    h1{
        color: white;
        margin: 15px;
    }
}